/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', Helvetica Neue ,Helvetica ,Arial ,sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}
.bg-color-gray {
    width: 100%;
    background-color: #f6f6f6;
}
.container.float::after {
    content: "";
    display: table;
    clear: both;
}
/* end regole generali */
/* stili header */
header {
    width: 100%;
    background-color: #255ee9;
}
/* stile logo, menu, pulsante, jumbo */
#logo, #menu-navigazione, #accedi {
    float: left;
    height: 100px;
}
/* stile logo */
#logo {
    width: 20%;
    position: relative;
}
#logo img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
/* stile menu di navigazione */
#menu-navigazione {
    width: 60%;
    position: relative;
}
#menu-navigazione ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
}
#menu-navigazione ul li {
    float: left;
}
ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 11px;
}
ul li a:hover {
    text-decoration: underline;
    text-shadow: 0 5px 7px rgba(0, 0, 0, 0.7);
}
/* stile pulsante accedi */
#accedi {
    width: 20%;
    position: relative;
}
#accedi a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 20px;
}
#accedi a:hover {
    background-color: #eee;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.7);
}
/* stile jumbotron */
#jumbotron {
    width: 100%;
    height: 70vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
/* prima sezione jumbotron */
#slogan {
    width: 49%;
    margin: 0 auto;
    text-align: center;
    padding: 130px 0 40px 0;
    color: #fff;
}#slogan h1 {
    margin-bottom: 65px;
    font-size: 65px;
}
#slogan p {
    font-size: 20px;
    line-height: 25px;
}
#button-link {
    text-align: center;
}
#button-link a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 16px 25px;
    margin: 0 10px;
    border-radius: 25px;
    word-spacing: 3px;
    display: inline-block;
}
#button-link a#browser {
    background-color: #23272a;
    color: #fff;
}
/* end stile jumbotron */
/* regole generali main */
.description::after {
    content: "";
    display: table;
    clear: both;
}
.label, .label-text {
    float: left;
    width: 50%;
    margin: 100px 0;
}
/* prima sezione */
.label-text {
    padding-right: 335px;
    color: #23272a;
    padding-left: 100px;
}
.label-text h2 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 30px;
}
.label-text p {
    line-height: 30px;
}
.label-text.last {
    float: none;
    padding: 0;
    width: 65%;
    margin: 0 auto;
}
.label-text.last h2 {
    padding-top: 100px;
}
.label.last {
    float: none;
    width: 65%;
    margin: 0 auto;
    text-align: center;
}
.container.download {
    padding-bottom: 150px;
}
main .container.download:last-child  {
    text-align: center;
}
.container.download div {
    position:  relative;
}
.container.download div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.container.download h3 {
    font-size: 25px;
    color: #23272a;

}
a.mac {
    margin-top: 30px;
    text-decoration: none;
    color: #fff;
    background-color: #8ea1e1;
    padding: 16px 25px;
    border-radius: 25px;
    word-spacing: 3px;
    display: inline-block;
}
a.mac > span {
    color: #fff;
}
/* end stile main */
/* stile footer */
footer {
    background-color: #23272a;
    padding-top: 100px;
}
.credits{
    width: calc((100% - 25%) / 4);
    float: left;
}
.credits.first-column {
    width: 25%;
}
.credits.first-column h3 {
    width: 70%;
    font-size: 35px;
    color: #748bdf;
    margin-bottom: 25px;
}

.credits #flags-section select#language{
    border: none;
    background-color: #23272a;
    color: #fff;
}
#flags-section {
    height: 20px;
    margin-bottom: 20px;
}
.flags {
    width: auto;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
#social i {
    margin: 10px 10px 10px 0;
    font-size: 20px;
    color: #fff;
}
.credits h4 {
    margin: 10px 0 10px 10px;
    color: #748bdf;
}
.credits li {
    padding: 10px 0;
}
footer .credits ul {
    list-style-type: none;   
}
#lower-footer {
    position: relative;
    width: 80%;
    margin: 50px auto 0;
    height: 100px;
    border-top: 1px solid #748bdf;
}
#lower-footer img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
#lower-footer a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

#lower-footer a {
    margin-top: 0;
}