/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', Helvetica Neue ,Helvetica ,Arial ,sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}
.container.float::after {
    content: "";
    display: table;
    clear: both;
}
main {
    padding-bottom: 150px;
}
/* end regole generali */
/* stili header */
header {
    width: 100%;

    background-color: #255ee9;
}
/* stile logo, menu, pulsante, jumbo */
#logo, #menu-navigazione, #accedi {
    float: left;
    height: 100px;

}
/* stile logo */
#logo {
    width: 20%;
    position: relative;
}
#logo img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
/* stile menu di navigazione */
#menu-navigazione {
    width: 60%;
    position: relative;
}
#menu-navigazione ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
}
#menu-navigazione ul li {
    float: left;
}
#menu-navigazione ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 11px;
}
#menu-navigazione ul li a:hover {
    text-decoration: underline;
    text-shadow: 0 5px 7px rgba(0, 0, 0, 0.7);
}
/* stile pulsante accedi */
#accedi {
    width: 20%;
    position: relative;
}
#accedi a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 20px;
}
#accedi a:hover {
    background-color: #eee;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.7);
}
/* stile jumbotron */
#jumbotron {
    width: 100%;
    height: 70vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
/* prima sezione jumbotron */
#slogan {
    width: 49%;
    margin: 0 auto;
    text-align: center;
    padding: 130px 0 40px 0;
    color: #fff;
}#slogan h1 {
    margin-bottom: 65px;
    font-size: 65px;
}
#slogan p {
    font-size: 20px;
    line-height: 25px;
}
#button-link {
    text-align: center;
}
#button-link a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 16px 25px;
    margin: 0 10px;
    border-radius: 25px;
    word-spacing: 3px;
    display: inline-block;
}
#button-link a#browser {
    background-color: #23272a;
    color: #fff;
}
/* end stile jumbotron */
/* regole generali main */
.description::after {
    content: "";
    display: table;
    clear: both;
}
.label, .label-text {
    float: left;
    width: 50%;
    margin: 100px 0;
}
/* prima sezione */
.label-text {
    padding-right: 335px;
    color: #23272a;
    padding-left: 100px;
}
.label-text h2 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 30px;
}
.label-text p {
    line-height: 30px;
}
.label-text.last {
    float: none;
    padding: 0;
    width: 65%;
    margin: 0 auto;
}
.label.last {
    float: none;
    width: 65%;
    margin: 0 auto;
    text-align: center;
}
main .container:last-child  {
    text-align: center;
}
.container h3 {
    font-size: 25px;
    color: #23272a;
    text-align: center;
}
.container div {
    position: relative;
}
a#mac {
    margin-top: 30px;
    text-decoration: none;
    color: #000;
    background-color: #8ea1e1;
    padding: 16px 25px;
    border-radius: 25px;
    word-spacing: 3px;
    display: inline-block;
}