/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', Helvetica Neue ,Helvetica ,Arial ,sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}
/* end regole generali */
/* stili header */
header {
    width: 100%;
    height: 100px;
    background-color: #3161e0;
}
/* stile logo, menu, pulsante, jumbo */
#logo, #menu-navigazione, #accedi, .jumbo-button {
    float: left;
    height: 100px;
    /* debug */
    background-color: blueviolet;
    border: 2px solid yellow;
}
/* stile logo */
#logo {
    width: 20%;
    position: relative;
}
#logo img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
/* stile menu di navigazione */
#menu-navigazione {
    width: 60%;
}
#menu-navigazione ul li {
    float: left;
}
#menu-navigazione ul::after {
    display: table;
    content: "";
    clear: both;
}
/* stile pulsante accedi */
#accedi {
    width: 20%;
}
/* stile jumbotron */
#jumbotron {
    width: 100%;
    height: 70vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
/* prima sezione jumbotron */
#slogan {
    width: 100%;
    margin: 0 auto;
    /* debug */
    background-color: green;
    height: 200px;
}
#button-link {
    width: 100%;
    margin: 0 auto;
    /* debug */
    background-color: red;
    height: 100px;
}
#button-link::after {
    content: "";
    display: table;
    clear: both;
}
#mac {
    width: 50%;
}
#browser {
    width: 50%;
}